*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    
}
.container{
    width: 80%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;

}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
}